/* Navbar superior (en computadoras) */
.top-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #008f39;
    color: white;
    padding: 10px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    margin-left: 100px;
}

/* Ocultar barra de búsqueda en móviles */
.search-bar {
    flex-grow: 1;
    margin-left: auto;
    margin-right: 20px;
    max-width: 300px;
}

.search-bar input {
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
    width: 100%;
}

.nav-center {
    display: flex;
    gap: 90px;
    margin-left: 200px;
}

.nav-center a {
    color: white !important;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.nav-center a span {
    font-size: 12px;
}

.profile-menu img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid white;
}

.profile-menu a {
    color: white !important;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.profile-menu a span {
    font-size: 12px;
}


body {
    padding-top: 60px;
    padding-bottom: 60px; /* Espacio para el menú inferior en móviles */
}

/* Navbar inferior en móviles */
@media (max-width: 768px) {
    .top-navbar {
        top: auto;
        bottom: 0;
        padding: 5px 10px;
        flex-direction: row;
        justify-content: space-around;
    }

    .logo, .search-bar {
        display: none; 
    }

    .nav-center {
        margin-left: 0;
        gap: 20px;
    }

    .profile-menu img {
        width: 30px;
        height: 30px;
    }
}